<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hotelapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"


        android:label="@string/barbeque_villa"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelApp"
        tools:ignore="DuplicateActivity">


        <activity
            android:name=".DesertActivity"
            android:label="Deserts"
            android:parentActivityName=".MainActivity"/>


        <activity
            android:name=".MainCourseActivity"
            android:label="Main Courses"
            android:parentActivityName=".MainActivity" />


        <activity
            android:name=".StartersActivity"
            android:label="Starters"
            android:parentActivityName=".MainActivity" />



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>